.footer {
  z-index: 101;
  display: flex;
  flex-direction: row;
  padding: .5rem 1rem;
  border-top: 1px solid #eaeaea;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
}
.credit{
  margin-left: 6rem;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  
}

.credit a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
}

.credit a:hover,
.credit a:active {
  text-decoration: underline;
  scale: 1.05;
  transition: all 550ms,
    color 0ms;
}


.button{
  border: none;
  width: 3rem;
  height: 3rem;
  
  padding: 0.5rem;
  background-color: #eaeaea00;
}

.button:hover{
  scale: 1.05;
  transition: all 550ms
}

@media (max-width: 1000px) {}

@media (max-width: 770px) {}

@media (max-width: 500px) {}