.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 35rem;
  height: 15rem;
  margin-bottom: 1rem;
}

.podium .player {
  width: 150rem;
  text-align: center;
  margin: 0 10px;
  background-color: #ffcc00;
  border: 2px solid #333;
  border-radius: 5px 5px 0 0;
  
  color: #fff;
  font-weight: bold;
  
}

.podium .name {
  background-color: #333;
  padding: 5px;
  border-radius: 0 0 5px 5px ;
  
}

.podium .first {
  height: 10rem;
  
  background-color: gold;
}

.podium .second {
  height: 7rem;
  
  background-color: silver;
}

.podium .third {
  height: 5rem;
  
  background-color: #cd7f32;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section {
  margin: 20px;
}

.categoryTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.playerCard {
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.playerOverview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
