.Body {
  width: 100%;
  
}

.Body th {
  background-color: rgba(0, 0, 0, 0.800); /* Ensure the td background is transparent */
  color: white;
  text-align: center;
}


.Body td {
  background-color: rgba(0, 0, 0, 0.600); /* Ensure the td background is transparent */
  color: white;
  text-align: center;
}

.PlayerOverviewCard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(224, 224, 224, 0.959);
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row-reverse;
  border:rgba(0, 0, 0, 0.363);
  border-style: solid;
  border-radius: 10px;
}

.close {
  color: rgb(0, 0, 0);
  border: 0;
  background: 0;
  width: 2rem;
  height: 2rem;
  font-size: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  scale: 1.8;
}

.close:hover {
  border: 0;
  background: 0;
  transform: scale(1.2);
}

.close:focus {
  outline: none;
}

@media (max-width: 1130px) {
  .Body th:nth-child(1) {
    content: 'N°';
  }
  .Body th:nth-child(2) {
    content: 'N';
  }
  .Body th:nth-child(3) {
    content: 'A';
  }
  .Body th:nth-child(4) {
    content: 'M';
  }
  .Body th:nth-child(5) {
    content: 'A/M';
  }
  .Body th:nth-child(6), 
  .Body td:nth-child(6) {
    display: none;
  }
  .Body th:nth-child(7) {
    content: 'T';
  }
  .Body th:nth-child(8), 
  .Body td:nth-child(8) {
    display: none;
  }
}

@media (max-width: 770px) {

}

@media (max-width: 500px) {

}