.scrollTracker {
  z-index: 9000;
  /* ScrollTracker 9000 */
  height: 2px;
  inset: 0 0 auto;
  margin-top: 85px;
  position: fixed;
  transform-origin: left;
  width: 0;
}

.navbar {
  padding: 0;
  backdrop-filter: blur(4px);
}

.navContainer {
  margin: 0 auto;
}

.discordButtonG {
  justify-content: end;
}

.discordButton {
  border: 1px solid #7289da;
  color: #FFF;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: .2em;
  padding: 0.5rem;
}

.discordButtonTxt {
  margin-left: 0.4rem;
}

.discordButton:hover,
.discordButton:active,
.discordButton:focus {
  scale: 1.125;
  transition: all 500ms;
  background-color: #5865F2;
}

.brand:hover {
  scale: 1.125;
  transition: all 500ms;
}

.leaderboardButton {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: white;
  background-color: #5a00008a;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* .ServerInfoGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-right: 1rem;
}

.ServerInfo {
  font-size: 18px;
  color: #AD0803;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.offline{
  font-size: 18px;
  color: #AD0803;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.online{
  font-size: 18px;
  color: #17ad03;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
} */
/* 
.ServerCont{
  display: flex;
  flex-wrap: wrap;
} */

.leaderboardButton:hover {
  background-color: #B1B1B1;
  color: #5a0000;
  transform: scale(1.1);
  font-weight: bold;
}

.leaderboardButton:focus {
  outline: none;
}

.ButtonsGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

@media (max-width: 1000px) {
  .ButtonsGroup {
    gap: 1rem;
  }

  .leaderboardButton {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .discordButton {
    font-size: 0.9rem;
    padding: 0.4rem;
    margin-right: 0;
  }
}

@media (max-width: 770px) {
  .ButtonsGroup {
    gap: 0.5rem;
    flex-wrap: nowrap;
  }

  .leaderboardButton {
    font-size: 0.7rem;
    padding: 0.4rem;
  }

  .discordButton {
    font-size: 0.7rem;
    padding: 0.3rem;
  }

  .navContainer {
    margin: auto;
  }

  .brand {
    margin: 0;
  }

  .brand img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}

@media (max-width: 500px) {
  .ButtonsGroup {
    gap: 0.4rem;

  }

  .leaderboardButton {
    font-size: 0.6rem;
  }

  .discordButton {
    margin-right: 0em;
  }

  .brand img {
    width: 35px;
    height: 35px;
    object-fit: contain;
  }

  .discordButtonG {
    justify-content: center;
    margin: 0;
  }

  .discordButtonTxt {
    display: none;
  }
}